*.pyc
*.swp
develop-eggs
dist
src/*.egg-info
tags
build
eggs
.venv
.project
.pydevproject
*.sublime*
*~
htmlcov
.coverage
*.log
.mypy_cache
tests/.DS_Store
.DS_Store
tests/samples/.Extrait-de-compte-20220802.pdf.ofx
tests/samples/repl.dat
test_20240102.sh
test.sh
